@font-face {
    font-family: NS-Sans;
    src: url("../fonts/nssans__-webfont.ttf");
}

html {
    box-sizing: border-box;
}

body {
    font-family: "NS Sans", sans-serif;
}

a {
    text-decoration: none;
    display: block;
}

h1 {
    font-family: "NS Sans", sans-serif;
    font-weight: 300;
}

p {
    color: #fff;
    float: left;
    height: 4.375em;
    margin: 0.5em
}

/* card css */
.card {
    padding: 0.5em;
    display: flex;
    flex-direction: column-reverse;
}

.card ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card ul li {
    display: inline-block;
}

.card ul a {
    color: #fff;
}

.card ul a img {
    width: 0.9em;
    margin-top: 1em;
}


.card ul li button:active {
    transform: scale(1.5);
}

.card ul li button:focus {
    color: lightgrey;
}

.card ul span {
    position: absolute;
    left: 50%;
    margin-top: -0.7em;
    font-size: 0.625em;
    font-weight: 700;
    font-family: 'NS-Sans';
    transform: translate(-50%, 0);
}

/* card wrapper css */

.card .wrapper {
    background-color: #fff;
    min-height: 30em;
    min-width: 20em;
    position: relative;
    overflow: hidden; 
}

/* opmaak tekste voor iphone en tablet*/
.content {
    padding-top: 10em;
}

.card,
article header h3 {
    margin-top: 0.625em;    
}

.card .wrapper {
    background-color: #fff;
    box-shadow: 0 2px 0 0 rgba(7, 7, 33, .15);
    margin-left: auto;
    margin-right: auto;
}


.card .wrapper:hover ul span {
    transform: translate(-50%, -10px);
    opacity: 1; 
} 

li button.likeIcon {
    background-image: url("../images/heart.svg");
    background-size: 1.5em;
    border: none;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
}

li button.liked {
    background-image: url("../images/heartfull.svg");
    background-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    transition: 2s;
animation: fadeIn 1.5s;

}

li button {
    width: 1.5em;
    height: 1.5em;
    background-color: transparent;
    background-size: 1.5em;
    padding-top:0.5em;
    cursor: pointer;
}


li button.chatIcon {
    background-image: url("../images/chat.svg");
    background-size: 1.5em;
    border: none;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
}

li button.commented {
background: url("../images/chatfull.svg");
    cursor: pointer;
    background-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    transition: 2s;
     animation: zoomIn 1s;
    animation: pulse 0.2s;
}


li button.downloadicon{
    background-image: url("../images/download.svg");
    background-size: 1.5em;
    border: none;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    animation: pulse 0.2s;
}

li button.downloaded{
    background: url("../images/check.svg");
    cursor: pointer;
    background-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    transition: 2s;
    animation: rotateOut 1s;
   
}

.menuDownloadicon {
  background: url("../images/menuDownload.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 3.5em;
    height: 2.5em;
    vertical-align: baseline;
}

.menuDownload{
  background: url("../images/menuDownloadcheck.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 3.5em;
    height: 2.5em;
    vertical-align: baseline;
    transition: 1s;
}
ul li span.score:active{
    transform: scale(1.4);
} 

.card .header {
    color: #fff;
    padding: 1em;
}

.card .header::before,
.card .header::after {
    content: '';
    display: table;
}

.card .header::after {
    clear: both;
}

.card .header p {
    float: left;
    font-size: 0.750em;
}

.card ul {
    float: right;
}

.card ul li {
    margin: 0 0.3em 0 ;
    position: relative;
    align-items: baseline;
}

.card ul li button{

}
.card ul span {
    transition: all 0.3s;
    opacity: 0;
    margin-bottom: 0.7em;
}

.card .animation {
    color: #fff;
    transform: translateY(8.375em);
}

.card .title a {
    color: #fff;
}

/* Leesverder linkje */

.leesverder {
    display: block;
    margin: 2em auto 1em;
    padding-left: 2em;
    width: 10em;
    text-align: center;
    font-size: 0.750em;
    color: #fff;
    line-height: 1;
    font-weight: 700;
}


/* Achtergrond cards*/
.card .item-1 {
    background: url(../images/card-achtergrond-paranoia.png) center/cover no-repeat;
}

.card .item-2 {
    background: url(../images/card-achtergrond-beroemd.png) center/cover no-repeat;
}

.card .item-3 {
    background: url(../images/card-achtergrond-terugspoelen.png) center/cover no-repeat;
}

.card .item-4 {
    background: url(../images/card-achtergrond.png) center/cover no-repeat;
}

@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1;
  }

  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
    
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(250,250,250,0.5);
    box-shadow: 0 0 0 0 rgba(250,250,250,0.5);
    border-radius: 50%;
  }
  25% {
      -moz-box-shadow: 0 0 0 0.8em rgba(250,250,250,0.5);
      box-shadow: 0 0 0 0.8em rgba(250,250,250,0.5);
      border-radius: 50%;
    }
}